<div class="container cardContainer">
  <div class="row">
    <!-- Display form to join game if game hasn't started -->
    <div *ngIf="!gameStarted" class="card">
      <img src="https://peoresnada.com/img_apps/app_brain_icon.png" class="card-img-top" alt="Brain Game">
      <div class="card-body">
        <h5>Welcome to Memory Card Game!</h5><br>
        <input type="text" id="usernameTb" class="form-control" placeholder="Enter Your Name" /><br>
        <button type="button" class="btn btn-primary" (click)="onJoinGameClick()">Join Game</button>
      </div>
    </div>

    <!-- Display game board if game has started -->
    <div *ngIf="gameStarted">
      <!-- Display player's name -->
      <h3>Welcome, {{ players[0]?.name }}!</h3>

      <div class="game-board">
        <!-- Display player's name -->
        <div *ngIf="players">
          <p>Player: {{ players[0]?.name }}</p>
        </div>

        <!-- Display cards on the game board -->
        <div class="row cardBoardContainer" id="board">
          <div *ngFor="let card of cards" [id]="'card-' + card.id" class="click panel col-lg-2"
            (click)="onFlipCardClick($event)">
            <div class="front">
              <!-- Back of the card with opacity -->
              <img [src]="card.image" width="150" height="150" style="opacity: .125;">
            </div>
            <div class="back">
              <!-- Front of the card -->
              <img [src]="card.image" width="150" height="150">
            </div>
          </div>
        </div>

        <!-- Display match alert -->
        <div id="alert"></div>

        <!-- Display list of wins -->
        <ul id="wins"></ul>
      </div>

      <!-- Display waiting list message -->
      <div *ngIf="showWaitingListMessage">
        <p>At this time there is not an opponent. As soon as one joins your game will begin.</p>
      </div>
    </div>
  </div>

  <!-- Modal for win message -->
  <div class="modal fade" id="winModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <h1 id="modal-headline"></h1>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>
